streamlit==1.48.0
langchain-core==0.3.72
sentence-transformers
chromadb==1.0.15
langchain-google-genai==2.0.10
langchain-groq==0.3.7
langchain-openai==0.3.28
google-generativeai==0.8.5
openai==1.99.1
pydantic==2.11.7
tiktoken==0.10.0
python-dotenv==1.1.1
